.card-header{
    padding: 8px;
    background-color: #eaeaea;
    border-bottom: 1px solid #999;
}
.label-tag{
    font-size: 12px;
    position: fixed;
    margin-top: 12px;
}
.basic-input-tag{
    font-size: 12px;
    position: fixed;
    margin-top: 29px;    
}